<form action="/cities/<%= @city.id %>" method="post">

<ul>
  <label for="city-name">City Name:</label>
    <input id="city-name" type="text" name="name" value="<%= @city.name %>"/>
</ul>

<ul>
  <label for="city-visited">City Visited:</label>
    <select id="city-visited" name="city_visited">
      <option value="true"<%= "selected" if @city.city_visited == "t" %>>Yes</option>
      <option value="false"<%= "selected" if @city.city_visited == "f" %>>Not Yet</option>
    </select>
</ul>
<p><%= @city.country_id %></p>
<ul>
  <label for="country-select">City's Country:</label>
    <select id="country-select" name="country_id">
      <% for country in @countries %>
      <option value=<%= country.id %><%= "selected" if @city.country_id == country.id %>><%= country.name %></option>
      <% end %>
    </select>
</ul>

  <input type="submit" value="Save City"/>

</form>
