<h1>Edit <%= @city.name %>'s name and country and record that you have visited the city:</h1>

<form action="/cities/<%= @city.id %>" method="post">

<ul>
  <label for="city-name">City Name:</label>
    <input id="city-name" type="text" name="name" value="<%= @city.name %>"/>
</ul>

<ul>
  <label for="country-select">City's Country:</label>
  <select name="country_id" id="country-select" selected="<%= @city.country_id %>">
    <% @countries.each do |country| %>
      <% if country.id == @city.country_id %>
        <option value=<%= country.id %> selected><%= country.name.capitalize %></option>
      <% else %>
        <option value=<%= country.id %>><%= country.name.capitalize %></option>
      <% end %>
    <% end %>
  </select>
</ul>

<ul>
  <label for="city-visited">City Visited:</label>
    <select id="city-visited" name="city_visited">
      <option value="true"<%= "selected" if @city.city_visited == "t" %>>Yes</option>
      <option value="false"<%= "selected" if @city.city_visited == "f" %>>Not Yet</option>
    </select>
</ul>

  <input type="submit" value="Save <%= @city.name %>"/>

</form>
