<h2>There are <%= @cities.length() %> cities in your bucket list</h2>

<p></p>

<p>Click the cities to edit their details</p>

<table>
  <tr>
    <th>
      Cities Visited
    </th>
    <th>
      Cities not yet Visited
    </th>
  </tr>
  <tr>
    <td>
      <% for city in @cities %>
        <% if city.city_visited == "t" %>
          <li>
            <a href="/cities/<%= city.id %>"><%= city.name %></a>
          </li>
        <% end %>
      <% end %>
    </td>
    <td>
      <% for city in @cities %>
        <% if city.city_visited == "f" %>
          <li>
            <a href="/cities/<%= city.id %>"><%= city.name %></a>
          </li>
        <% end %>
      <% end %>
    </td>
</table>

<p><a href="/cities/new">Add a new city</a></P>
