<h2>Click to edit or delete <%= @city.name %></h2>

<h3><a href="/cities/<%= @city.id %>/edit">Edit <%= @city.name %></a></h3>

<form action="/cities/<%= @city.id %>/delete" method="post">
    <input type="submit" onclick="return confirm('Are you sure you want to delete the city?')"value="Delete <%= @city.name %>"/>
</form>
