<h1>There are <%= @countries.length() %> countries in your bucket list. Click the countries to edit their details:</h1>

<table>
  <tr>
    <th>
      Countries Visited
    </th>
    <th>
      Countries not yet Visited
    </th>
  </tr>
  <tr>
    <td>
      <% for country in @countries %>
        <% if country.country_visited == "t" %>
          <li>
            <a href="/countries/<%= country.id %>"><%= country.name %></a>
          </li>
        <% end %>
      <% end %>
    </td>
    <td>
      <% for country in @countries %>
        <% if country.country_visited == "f" %>
          <li>
            <a href="/countries/<%= country.id %>"><%= country.name %></a>
          </li>
        <% end %>
      <% end %>
    </td>
</table>






<p><a href="/countries/new">Click here to add a new country!</a></p>
