<h2>There are <%= @countries.length() %> countries in your bucket list</h2>

<p></p>

<p>Click the countries to edit their details</p>

<table>
  <tr>
    <th>
      Countries Visited
    </th>
    <th>
      Countries not yet Visited
    </th>
  </tr>
  <tr>
    <td>
      <% for country in @countries %>
        <% if country.country_visited == "t" %>
          <li>
            <a href="/countries/<%= country.id %>"><%= country.name %></a>
          </li>
        <% end %>
      <% end %>
    </td>
    <td>
      <% for country in @countries %>
        <% if country.country_visited == "f" %>
          <li>
            <a href="/countries/<%= country.id %>"><%= country.name %></a>
          </li>
        <% end %>
      <% end %>
    </td>
  </tr>
</table>

<p><a href="/countries/new">Add a new country</a></p>
