<h2>Click to edit or delete <%= @country.name %></h2>

<h3><a href="/countries/<%= @country.id %>/edit">Edit <%= @country.name %></a></h3>

<form action="/countries/<%= @country.id %>/delete" method="post">
    <input type="submit" onclick="return confirm('Are you sure you want to delete the country?')" value="Delete <%= @country.name %>"/>
</form>
